.rotating-icon:hover {
    box-shadow: unset;
}

.rotating-icon svg {
    transition: transform 200ms ease-out;
    position: relative;
    top: 1px;
}

.rotating-icon:hover svg {
    transform: rotate(180deg);
    transition: transform 200ms ease-out;
    position: relative;
    top: 1px;
}
